@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.black-friday-banner {
    background-color: #000;
    background-image: 
        radial-gradient(circle at 15% 15%, rgba(255, 215, 0, 0.2) 0%, transparent 30%),
        radial-gradient(circle at 85% 85%, rgba(255, 255, 255, 0.1) 0%, transparent 25%);
    border: 2px solid #FFD700; /* Borde dorado */
}

/* Elimina las animaciones anteriores si ya no se usan */
.launch-banner-bg, .animate-float-1, .animate-float-2, .animate-float-3, .animate-float-4 {
    animation: none;
    background: none;
}